html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
}
.page-name {
  text-align: center;
  }

/*.box-bar {*/
/*  background-color: #FFE8DB;*/
/*  border: 6px solid #FF5A00;*/
/*  border-radius: 15px 100px 15px 100px;*/
/*  }*/