.header {
  height: 70px;
  background-color: #b0bec5;
  display: flex;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
  justify-content: space-between;
  /*border-bottom-left-radius: 5px;*/
  /*border-bottom-right-radius: 5px;*/
  color: #000a12;
  }

.upper {
  height: 10px;
  background-color: #808e95;;
  }

.page_name {
  font-size: 25px;
  }

.icons {
  display: flex;
  align-items: center;
  font-size: 35px
  }
